<div class="cs-container">
    <h2 class="cs-header">Dashboard</h2>

    <hr>

    <div class="cs-content">
      <div class="cs-content">
        <div class="clr-row">
          <div class="card clr-col-4">
            <div class="card-header">
              Task Types
            </div>
            <div class="card-text" style="display: grid;">
              <app-dashboard-task-types></app-dashboard-task-types>
            </div>
          </div>


          <div class="card clr-col-7 clr-offset-1">
            <div class="card-header">
              Recent Activity
            </div>
            <div class="card-text" style="display: grid;">
              <app-dashboard-task-log></app-dashboard-task-log>
            </div>
          </div>
        </div>

          <div class="clr-row">
            <div class="card clr-col-7">
              <div class="card-header">
                Activity Overview
              </div>
              <div class="card-text" style="display: grid;">
                <app-dashboard-activity-log></app-dashboard-activity-log>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>

